---

import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { Image } from "astro:assets";
const { blok } = Astro.props;
const renderedRichText = renderRichText(blok.description)

---

<div class="w-full" {...storyblokEditable(blok)}>
    <div class="container m-auto flex items-center flex-col md:flex-row gap-8 lg:gap-20">
        <div class="md:w-1/2">
            <Image src={blok.image.filename} width={1600} height={800} alt={blok.image.alt || blok.title } class="w-full h-full object-cover" />
        </div>
        <div class="md:w-1/2">
            <div class="animate-zoom-in">
                <p class="text-2xl text-dark">{blok.heading}</p>
                <h1 class="text-6xl mb-5 text-dark">{blok.title}</h1>
                <div class="mt-8">
                    <div class="prose-ul:list-disc prose-ul:ps-6 prose-li:mb-2" set:html={renderedRichText}></div>
            </div>
        </div>
    </div>
</div>
