<footer class="footer">
    <div class="container mx-auto pt-5 animate__animated animate__fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="flex flex-col gap-5 py-5">
                <div class="flex w-full justify-between">
                    <div class="lg:w-7/12">
                        <h1 class="text-light mb-0 text-4xl">Subscribe our newsletter</h1>
                        <p class="text-secondary">Get the latest news and other tips</p>
                    </div>
                    <div class="lg:w-5/12">
                        <div class="relative mx-auto">
                            <input class="form-control border-0 w-full py-3 pl-4 pr-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-1.5 absolute top-0 right-0 mt-1.5 mr-2">Subscribe</button>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div class="border-t border-secondary"></div>
                </div>
            </div>
            <div class="flex gap-4">
                <div class="md:w-6/12 lg:w-6/12 xl:w-3/12">
                    <div class="mt-5">
                        <h4 class="text-light mb-4 text-xl">Truth<span class="text-primary"> Dawah</span></h4>
                        <p class="mb-4 text-secondary">Nostrud exertation ullamco labor nisi aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <a href="" class="btn btn-primary py-2 px-4">Donate Now</a>
                    </div>
                </div>
                <div class="md:w-6/12 lg:w-6/12 xl:w-3/12">
                    <div class="mt-5">
                        <h4 class="text-light mb-4">Our Mosque</h4>
                        <div class="flex flex-col">
                            <h6 class="text-secondary mb-0">Our Address</h6>
                            <div class="flex items-center border-b py-4">
                                <span class="flex-shrink-0 bg-primary mr-3 p-4"><i class="fa fa-map-marker-alt text-dark"></i></span>
                                <a href="" class="text-body">Business bay, Dubai, UAE</a>
                            </div>
                            <h6 class="text-secondary mt-4 mb-0">Our Mobile</h6>
                            <div class="flex items-center py-4">
                                <span class="flex-shrink-0 bg-primary mr-3 p-4"><i class="fa fa-phone-alt text-dark"></i></span>
                                <a href="" class="text-body">+971 345 67890</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-6/12 lg:w-6/12 xl:w-3/12">
                    <div class="mt-5">
                        <h4 class="text-light mb-4">Explore Link</h4>
                        <div class="flex flex-col items-start">
                            <a class="text-body mb-2" href="/"><i class="fa fa-check text-primary mr-2"></i>Home</a>
                            <a class="text-body mb-2" href="/about-us"><i class="fa fa-check text-primary mr-2"></i>About Us</a>
                            <a class="text-body mb-2" href="/blog"><i class="fa fa-check text-primary mr-2"></i>Our Blog</a>
                            <a class="text-body mb-2" href=""><i class="fa fa-check text-primary mr-2"></i>Donations</a>
                        </div>
                    </div>
                </div>
                <div class="md:w-6/12 lg:w-6/12 xl:w-3/12">
                    <div class="mt-5">
                        <h4 class="text-light mb-4">Latest Post</h4>
                        <div class="flex border-b border-secondary py-4">
                            <img src="https://a.storyblok.com/f/300132/100x100/603b272a89/blog-mini-1.jpgg" class="img-fluid flex-shrink-0" alt="">
                            <div class="pl-3">
                                <p class="mb-0 text-muted">01 Jan 2045</p>
                                <a href="" class="text-body">Lorem ipsum dolor sit amet elit eros vel</a>
                            </div>
                        </div>
                        <div class="flex py-4">
                            <img src="https://a.storyblok.com/f/300132/100x100/a7a3d0426d/blog-mini-2.jpg" class="img-fluid flex-shrink-0" alt="">
                            <div class="pl-3">
                                <p class="mb-0 text-muted">01 Jan 2045</p>
                                <a href="" class="text-body">Lorem ipsum dolor sit amet elit eros vel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="border-t border-secondary pb-4"></div>
            <div class="row">
                <div class="md:w-6/12 text-center md:text-left mb-3 md:mb-0">
                    &copy; Truth Dawah, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
    
</footer>
<style>
    .footer {
    margin-top: 6rem;
    background: #0d0d0d;
    color: aliceblue;
}
</style>